.flow-wrapper{
    width: 100%;
    margin: $two-s auto 0 auto;
    max-width: 100%;
    // overflow: auto;
}
.flow-inner{
    width: 100%;
    float: left;
    min-width: 1100px;
}
.flow-text{
    display: inline-flex;
    align-items: center;
    padding: $one-s $two-s;
    @include border-radius($half-s);
    margin-bottom: $five-s;
    font-size: $font-s;
    color: $white;
    position: relative;
    font-weight: $font-medium;
    width: 148px;
    &.down-line{
        &:before{
            width: 1px;
            height: 20px;
            display: inline-block;
            content: "";
            background: $grey3;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.up-line{
        &:after{
            width: 1px;
            height: 20px;
            display: inline-block;
            content: "";
            background: $grey3;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.main-line{
    &:before{
        width: calc(100% + 50px);
        height: 1px;
        display: inline-block;
        content: "";
        background: $grey3;
        position: absolute;
        bottom: calc(100% + 20px);
        left: 50%;
        transform: translateX(-50%);
    }
    &.left-line{
        &:before{
            transform: none !important;
            width: 50%;
        }
    }
    &.right-line{
        &:before{
            transform: none !important;
            width: 100%;
            right: 50%;
            left: auto;
        }
    }
    &.left-mid-line{
        &:before{
            transform: none !important;
            width: calc(50% + 80px);
        }
    }
    &.right-mid-line{
        &:before{
            transform: none !important;
            width: calc(50% + 70px);
            right: 50%;
            left: auto;
        }
    }
}

.join-line{
    &:before{
        width: 50%;
        height: 1px;
        display: inline-block;
        content: "";
        background: $grey3;
        position: absolute;
        bottom: calc(100% + 20px);
        left: 50%;
        transform: translateX(-50%);
    }
    &:after{
        width: 1px;
        height: 20px;
        display: inline-block;
        content: "";
        background: $grey3;
        position: absolute;
        bottom: calc(100% + 20px);
        left: 25%;
    }
}

.outer-down-line{
    &:before{
        width: 1px;
        height: 20px;
        display: inline-block;
        content: "";
        background: $grey3;
        position: absolute;
        top: calc(100% - 40px);
        left: 62%;
    }
}