// Tabs
.tabs-wrapper {
  @extend .wd-100;
  border-collapse: collapse;
}

.tabs-title-wrapper {
  width: 100%;
  float: left;
  @extend .inline-flex-center;
  // background: $white;
  @include border-radius(0);
  border-collapse: collapse;
  // border-bottom: 1px solid $border;
}
.tabs-title-wrapper-no-border {
  @extend .inline-flex-center;
  background: $rxd-bluegray-100;
  @include border-radius($half-s);
  border-collapse: collapse;
  padding: 1px;
  // border: 1px solid $border;
}
.color {
  float: left;
  padding: $half-s $three-s;
  color: #667485;
  font-size: $font-s;
  border: 1px solid #d4dbe2;

  @include border-radius($half-s);
  border-spacing: 0;
  background: white;
  cursor: pointer;
  &:hover {
    background: #e6f1fd;
  }
  &.active {
    background: $primaryblue;
    color: $white;
    @include border-radius($half-s);
  }
}
.tabs-title {
  float: left;
  padding: $half-s $one-half-s;
  color: $rxd-gray5;
  font-size: $font-s;
  @include border-radius($half-s);
  border-spacing: 0;
  // border-right: 1px solid $border;
  // background: #eeeeee;
  margin-right: 1px;
  cursor: pointer;
  &:hover {
    background: $white;
  }
  // &:first-of-type {
  //   @include border-radius($half-s 0 0 $half-s);
  // }
  &:last-of-type {
    // @include border-radius(0 $half-s $half-s 0);
    margin-right: 0;
  }
  &.active {
    background: $white;
    color: $rxd-gray2;
  }
}

.tabs-title-exec {
  float: left;
  padding: 0 0 $one-s;
  color: $rxd-gray-500;
  font-size: $font-s;
  font-weight: $font-regular;
  border-bottom: 2px solid transparent;
  background: transparent; //Module-wise
  cursor: pointer;
  margin-right: $three-s;
  &.icon {
    // padding: 0 $one-s !important;
  }
  .stroke{
    path{
      stroke: $rxd-gray-500;
    }
  }
  &:hover,
  &.active {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
  &.active {
    font-weight: $font-semi-bold;
    .stroke{
      path{
        stroke: $primary;
        fill: none;
      }
    }
    svg{
      path{
        fill: $primary;
      }
    }
  }
}
// Card tabs
.card-tabs-title {
  @extend .wd-100;
  background: transparent;

  ul {
    list-style: none;
    @extend .wd-100;
    padding: 0 $one-s;
    li {
      float: left;
      padding: $one-s $two-s;
      font-size: $font-s;
      font-weight: 600;
      color: $grey3;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      &:hover,
      &.active {
        color: #0073e6;
        border-bottom: 1px solid $primary;
      }
    }
  }
}

.card-tabs-title.no-background {
  background: none !important;
  box-shadow: none !important;
  ul {
    padding: 0 !important;
    li {
      color: #667485;
      font-weight: 500;
      &:hover,
      &.active {
        color: $primaryblue;
      }
    }
  }
}

.tabs-content-wrapper {
  @extend .wd-100;
}
