// helpers for the whole app

// Color helpers
.primary {
  color: $primary;
}
.successalert {
  color: $successalert !important;
}
.infoalert {
  color: $infoalert;
}
.warningalert {
  color: $warningalert;
}
.dangeralert {
  color: $dangeralert !important;
}
.closedalert {
  color: $deepblue;
}

.relative {
  position: relative;
}
.white {
  color: $white;
}
.grey1 {
  color: $rxd-gray2;
}
.grey2 {
  color: $rxd-gray3;
}
.grey3 {
  color: $rxd-gray4;
}
.grey4 {
  color: $rxd-gray5;
}
.grey5 {
  color: $rxd-gray6;
}
// Background color helpers
.primary-bg {
  background: $primary;
}
.successalert-bg {
  background: $successalert !important;
}
.infoalert-bg {
  background: $infoalert !important;
}
.warningalert-bg {
  background: $warningalert;
}
.dangeralert-bg {
  background: $dangeralert !important;
}
.closedalert-bg {
  background: $deepblue;
}
.lightwhite-bg {
  background: #f0f0f0;
}
.lightblue-bg {
  background: #00abe9;
}
.grey-bg {
  background: $grey3;
}
.bluetint-bg {
  background: $bluetint;
}

.white-bg{
  background: $white;
}


// bg light
.bg-success-25{
  background-color: $rxd-success-25 !important;
}

.bg-purple-25{
  background-color: $rxd-purple-25 !important;
}

.primary-light-bg{
  background: $rxd-primary-50 !important;
  color: $rxd-primary-500;
  svg{
    path{
      stroke: $rxd-primary-500;
    }
  }
}

.purple-light-bg{
  background: $rxd-purple-50 !important;
  color: $rxd-purple-500;
  svg{
    path{
      stroke: $rxd-purple-500;
    }
  }
}

.success-light-bg{
  background: $rxd-success-50 !important;
  color: $rxd-success-500;
  svg{
    path{
      stroke: $rxd-success-500;
    }
  }
}

.information-light-bg{
  background: $rxd-information-50 !important;
  color: $rxd-information-500;
  svg{
    path{
      stroke: $rxd-information-500;
    }
  }
}

.gray-light-bg{
  background: $rxd-gray-50 !important;
  color: $rxd-gray-500;
  svg{
    path{
      stroke: $rxd-gray-500;
    }
  }
}

.warning-light-bg{
  background: $rxd-warning-50 !important;
  color: $rxd-warning-500;
  svg{
    path{
      stroke: $rxd-warning-500;
    }
  }
}

.error-light-bg{
  background: $rxd-error-50 !important;
  color: $rxd-error-500;
  svg{
    path{
      stroke: $rxd-error-500;
    }
  }
}


// Pointers
.pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed !important;
}

.regular {
  font-weight: $font-regular;
}

// Font weight
.font-light {
  font-weight: $font-light;
}
.font-regular {
  font-weight: $font-regular;
}
.font-medium {
  font-weight: $font-medium;
}
.font-semibold {
  font-weight: $font-semi-bold;
}
.font-bold {
  font-weight: $font-bold;
}
.font-black {
  font-weight: $font-black;
}

// border
.b-0{
  border: 0 !important;
}
.br-1 {
  border-right: 1px solid $border;
  @media (max-width: 767px) {
    border-right: 0px;
  }
}
.bl-1 {
  border-left: 1px solid $primary;
}

.bt-1 {
  border-top: 1px solid $border;
}

.bb-1 {
  border-bottom: 1px solid $border;
}

// padding
.p-8 {
  padding: $one-s;
}

.p-two-s {
  padding: $two-s;
}

.pr-one-s {
  padding-right: $one-s;
}

.pr-two-s {
  padding-right: $two-s !important;
}

.pl-one-s {
  padding-left: $one-s;
}

.pl-two-s {
  padding-left: $two-s !important;
}

.pl-three-s {
  padding-left: $three-s !important;
}

.pr-three-s {
  padding-right: $three-s !important;
}

.pb-one-s {
  padding-bottom: $one-s !important;
}

.pb-one-half-s {
  padding-bottom: $one-half-s !important;
}

.pt-one-s {
  padding-top: $one-s !important;
}

.pt-one-half-s {
  padding-top: $one-half-s !important;
}

.pt-two-s {
  padding-top: $two-s !important;
}

.pb-two-s {
  padding-bottom: $two-s !important;
}

// margin bottom
.mb-half-s {
  margin-bottom: $half-s;
}
.mb-one-s {
  margin-bottom: $one-s;
}
.mb-one-half-s {
  margin-bottom: $one-half-s;
}
.mb-two-s {
  margin-bottom: $two-s;
}
.mb-two-half-s {
  margin-bottom: $two-half-s;
}
.mb-three-s {
  margin-bottom: $three-s;
}
.mb-four-s {
  margin-bottom: $four-s;
}

// margin top
.mt-half-s {
  margin-top: $half-s;
}
.mt-one-s {
  margin-top: $one-s;
}
.mt-one-half-s {
  margin-top: $one-half-s;
}
.mt-two-s {
  margin-top: $two-s;
}
.mt-two-half-s {
  margin-top: $two-half-s;
}
.mt-three-s {
  margin-top: $three-s;
}
.mt-four-s {
  margin-top: $four-s;
}

// margin left
.ml-half-s {
  margin-left: $half-s;
}
.ml-one-s {
  margin-left: $one-s;
}
.ml-one-half-s {
  margin-left: $one-half-s;
}
.ml-two-s {
  margin-left: $two-s;
}
.ml-two-half-s {
  margin-left: $two-half-s;
}
.ml-three-s {
  margin-left: $three-s;
}
.ml-four-s {
  margin-left: $four-s;
}

// margin right
.mr-half-s {
  margin-right: $half-s;
}
.mr-one-s {
  margin-right: $one-s;
}
.mr-one-half-s {
  margin-right: $one-half-s;
}
.mr-two-s {
  margin-right: $two-s;
}
.mr-two-half-s {
  margin-right: $two-half-s;
}
.mr-three-s {
  margin-right: $three-s;
}
.mr-four-s {
  margin-right: $four-s;
}

.ml-auto{
  margin-left: auto;
}

// Block element
.wd-100 {
  width: 100%;
  float: left;
}

.wd-50 {
  width: 50%;
  float: left;
}
.wd-70 {
  width: 70%;
  float: left;
}
.wd-5 {
  width: 5%;
}

.wd-10 {
  width: 10%;
}

.wd-4 {
  width: 4%;
}
.wd-8 {
  width: 8%;
}
.wd-12 {
  width: 12%;
}

.wd-15 {
  width: 15%;
}

.wd-20 {
  width: 20%;
}

.wd-25 {
  width: 25%;
}

.wd-30 {
  width: 30%;
}

.wd-33 {
  width: 33.3333333333%;
}

.wd-40 {
  width: 40%;
}

.wd-50 {
  width: 50%;
}

.table-300 {
  height: auto;
  max-height: 50vh;
  padding-right: $half-s;
  @include scrollbar();
}

// full screen
.loader-wrapper {
  width: 100%;
  overflow: hidden;
  @extend .flex-center-center;
  @extend .flex-column;
  text-align: center;
  &.full-page {
    position: fixed;
    left: 0;
    top: 0;
    background: $culturedwhite;
    height: 100vh;
    opacity: 0.8;
    z-index: 9999;
  }
  &.full-content {
    height: 100%;
  }
  h1 {
    font-size: $font-l;
    color: $primaryblue;
  }
}

// float
.right {
  float: right;
}
.left {
  float: left;
}

// text alignment
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.pre-wrap {
  white-space: pre-wrap;
}

// links
.simple-link {
  font-size: $font-s;
  color: $grey2;
}

.font-r {
  font-size: $font-r !important;
}

.font-m {
  font-size: $font-m !important;
}

.font-s {
  font-size: $font-s !important;
}

.font-xs {
  font-size: $font-xs;
}

.font-xxs {
  font-size: $font-xxs;
}

.font-l{
  font-size: $font-l !important;
}

.font-xl{
  font-size: $font-xl !important;
}

.font-xxl{
  font-size: $font-xxl !important;
}

// Media query
// .mb-visible{

// }

// .mb-hidden{

// }

// .lg-visible{

// }

// .lg-hidden{

// }

@media (max-width: 768px) {
  .mob-mt-one-s {
    margin-top: $one-s;
  }
  .mob-mt-two-s {
    margin-top: $two-s;
  }
  .mob-mb-one-s {
    margin-bottom: $one-s;
  }
  .mob-mb-two-s {
    margin-bottom: $two-s;
  }
}

@media (max-width: 767px) {
  .head-option {
    width: 100%;
  }
  .pending-filter {
    margin-left: 0 !important;
    padding-left: 0 !important;
    border-left: 0 !important;
    float: right !important;
    .btn-small {
      padding: $half-s $one-s !important;
      &:last-of-type {
        margin-right: 0 !important;
      }
    }
  }
}


// Custom
.form-mb-0{
  .form-group{
    margin-bottom: 0 !important;
  }
}
.table-700 {
  min-height: 300px;
  // padding-right: $one-s;
}


// Wordline wrap
.lwrap-2{
  @include wordlinewrap(1);
}